/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-family: "Montserrat", sans-serif;
}

* {
  font-family: "Montserrat", sans-serif;
}

h1,
h2 {
  font-size: 1.5em;
  font-weight: 700;
}

.username {
  font-size: 1.1em;
  font-weight: 600;
}

.email,
h3 {
  font-weight: 300;
}

button {
  font-weight: 600;
}

.book h3 {
  font-weight: 700;
}
.book .author,
.book .genre {
  font-weight: 300;
}
.book .page-completion {
  font-size: 0.8em;
  font-weight: 200;
}

.add-book-form input,
.add-book-form select,
.add-book-form textarea,
.add-book-form button {
  border: none;
  height: 35px;
  padding: 10px;
}
.add-book-form textarea {
  height: 175px;
}
.add-book-form button {
  height: 35px;
}

body {
  background-color: #fbf5ee;
}

.main-library {
  background: #fff;
  color: #623b5a;
}
.main-library form input,
.main-library form select,
.main-library form textarea {
  accent-color: #623b5a;
  background: #fbf5ee;
  color: #3e2539;
  outline-color: #623b5a;
}
.main-library form input::placeholder,
.main-library form select:invalid,
.main-library form textarea::placeholder {
  color: rgba(62, 37, 57, 0.6);
}
.main-library form button {
  background: #623b5a;
  color: #fff;
}
.main-library form button:hover {
  filter: brightness(0.8);
}
.main-library .book {
  color: #fff;
}
.main-library .book[data-number="1"],
.main-library .book[data-number="6"] {
  background: #623b5a;
}
.main-library .book[data-number="2"],
.main-library .book[data-number="7"] {
  background: #de7c5a;
}
.main-library .book[data-number="3"] {
  background: #76949f;
}
.main-library .book[data-number="4"] {
  background: #e26d5a;
}
.main-library .book[data-number="5"] {
  background-color: #a491d3;
}

progress {
  accent-color: #fff;
}

.aside-statistics {
  background: #fbf5ee;
}
.aside-statistics h2 {
  color: #623b5a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

.page-container {
  align-items: center;
  display: grid;
  grid-template-areas: "main-library   aside-statistics";
  grid-template-columns: 4fr minmax(300px, 1fr);
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
}
.page-container main {
  display: grid;
  grid-area: main-library;
  grid-template-areas: "about-and-add   book-library";
  grid-template-columns: max-content minmax(500px, 3fr);
  grid-template-rows: 1fr;
  height: 100%;
  padding: 4vh 0;
  width: 100%;
}
.page-container main .about-and-add {
  align-content: start;
  display: grid;
  gap: 35px;
  grid-template-areas: "header" "profile-picture" "add-book-form";
  grid-template-columns: 1fr;
  grid-template-rows: 50px repeat(2, max-content);
  grid-area: about-and-add;
  height: 100%;
  justify-items: center;
  padding: 0 4vh;
  width: 100%;
}
.page-container main .about-and-add .about-header {
  grid-area: header;
}
.page-container main .about-and-add figure {
  display: grid;
  gap: 15px;
  grid-area: profile-picture;
  justify-content: center;
  line-height: 20px;
  place-items: center;
  text-align: center;
}
.page-container main .about-and-add figure .profile-picture {
  background: url("assets/corgi.jpg") 0 -70px no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.page-container main .about-and-add form {
  display: grid;
  gap: 20px;
  grid-area: add-book-form;
}
.page-container main .book-library {
  display: grid;
  gap: 35px;
  grid-area: book-library;
  grid-template-areas: "header" "books";
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  height: 100%;
  padding: 0 4vh;
  width: 100%;
}
.page-container main .book-library header {
  grid-area: header;
}
.page-container main .book-library header h2 {
  margin-bottom: 5px;
}
.page-container main .book-library .books {
  align-content: start;
  grid-area: books;
  display: grid;
  gap: 50px 2%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: row;
  justify-items: stretch;
}
.page-container main .book-library .books .book {
  display: grid;
  padding: 20px;
}
.page-container aside {
  grid-area: aside-statistics;
  height: 100%;
  width: 100%;
  padding: 30px;
}

.checkbox-container {
  align-items: center;
  display: grid;
  gap: 10px;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  letter-spacing: 1px;
}

.book {
  align-items: center;
}
.book .progress-container {
  align-self: end;
  width: 100%;
}
.book .progress-container progress {
  width: 100%;
}

.main-library {
  border-radius: 0 40px 40px 0;
}
.main-library .about-and-add {
  border-right: 1px solid #e3e3e3;
}

.add-book-form input,
.add-book-form select,
.add-book-form textarea,
.add-book-form button {
  border-radius: 6px;
}

.books .book {
  border-radius: 20px;
  height: 200px;
}

/*# sourceMappingURL=styles.css.map */
