$primary-color: #fff;
$secondary-color: #fbf5ee;
$accent-color: #623b5a;
$text-color: #3e2539;

body {
    background-color: $secondary-color;
}


.main-library {
    background: $primary-color;
    color: $accent-color;
    form {
        input,
        select,
        textarea {
            accent-color: #623b5a;
            background: $secondary-color;
            color: $text-color;
            outline-color: $accent-color;
        }

        input::placeholder,
        select:invalid,
        textarea::placeholder {
            color: rgba(62, 37, 57, .6);
        }

        button {
            background: #623b5a;
            color: $primary-color;
        }

        button:hover {
            filter: brightness(.8);
        }


    }
}

.aside-statistics {
    background: $secondary-color;
}