:root {
    font-family: 'Montserrat', sans-serif;
}

* {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 1.5em;
    font-weight: 700;
}

.username {
    font-size: 1.1em;
    font-weight: 600;
}

.email {
    font-weight: 300;
}

button {
    font-weight: 600;
}
