* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.page-container {
    align-items: center;
    display: grid;
    grid-template-areas: 
        "main-library   aside-statistics";
    grid-template-columns: 4fr minmax(300px, 1fr);
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;

    main {
        // border: 3px solid lightslategray;
        display: grid;
        grid-area: main-library;
        grid-template-areas: 
            "about-and-add   book-library";
        grid-template-columns: minmax(300px, 1fr) minmax(500px, 3fr);
        grid-template-rows: 1fr;
        height: 100%;
        padding: 3%;
        width: 100%;

        .about-and-add {
            // border: 1px solid blue;
            display: grid;
            gap: 5%;
            grid-template-areas:
                "header"
                "profile-picture"
                "add-book-form";
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, max-content);
            grid-area: about-and-add;
            height: 100%;
            justify-items: center;
            width: 100%;
            
            .about-header {
                grid-area: header;
            }

            figure {
                display: grid;
                gap: 15px;
                grid-area: profile-picture;
                justify-content: center;
                text-align: center;
                
                .profile-picture {
                    background: url('assets/corgi.jpg') 0 -70px no-repeat;
                    background-size: cover;
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                }
            }

            form {
                display: grid;
                gap: 20px;
                grid-area: add-book-form;
            }
        }

        .book-library {
            grid-area: book-library;
            padding: 30px;
        }
    }

    aside {
        // border: 3px solid lightpink;
        grid-area: aside-statistics;
        height: 100%;
        width: 100%;
        padding: 30px;
    }
}

.checkbox-container {
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    letter-spacing: 1px;
}

