* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow-x: hidden;
    width: 100vw;
}

.page-container {
    align-items: center;
    display: grid;
    grid-template-areas: 
        "main-library   aside-statistics";
    grid-template-columns: 4fr minmax(300px, 1fr);
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;

    main {
        // border: 3px solid lightslategray;
        display: grid;
        grid-area: main-library;
        grid-template-areas: 
            "about-and-add   book-library";
        grid-template-columns: minmax(max-content, 1fr) minmax(500px, 3fr);
        grid-template-rows: 1fr;
        height: 100%;
        padding: 3%;
        width: 100%;

        .about-and-add {
            // border: 1px solid blue;
            align-content: start;
            display: grid;
            gap: 35px;
            grid-template-areas:
                "header"
                "profile-picture"
                "add-book-form";
            grid-template-columns: 1fr;
            grid-template-rows: 50px repeat(2, max-content);
            grid-area: about-and-add;
            height: 100%;
            justify-items: center;
            padding-right: 5%;
            width: 100%;
            
            .about-header {
                grid-area: header;
            }

            figure {
                display: grid;
                gap: 15px;
                grid-area: profile-picture;
                justify-content: center;
                line-height: 20px;
                place-items: center;
                text-align: center;
                
                .profile-picture {
                    background: url('assets/corgi.jpg') 0 -70px no-repeat;
                    background-size: cover;
                    border-radius: 50%;
                    height: 150px;
                    width: 150px;
                }
            }

            form {
                display: grid;
                gap: 20px;
                grid-area: add-book-form;
            }
        }

        .book-library {
            display: grid;
            gap: 35px;
            grid-area: book-library;
            grid-template-areas: 
                "header"
                "books";
            grid-template-columns: 1fr;
            grid-template-rows: 50px 1fr;
            height: 100%;
            padding-left: 2.5%;
            width: 100%;

            header {
                grid-area: header;

                h2 {
                    margin-bottom: 5px;
                }
            }

            .books {
                align-content: start;
                grid-area: books;
                display: grid;
                gap:  50px 2%;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                grid-auto-flow: row;
                justify-items: stretch;
    
                .book {
                    display: grid;
                    padding: 20px;
                }

            }
        }
    }

    aside {
        // border: 3px solid lightpink;
        grid-area: aside-statistics;
        height: 100%;
        width: 100%;
        padding: 30px;
    }
}

.checkbox-container {
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    letter-spacing: 1px;
}

.book {
    align-items: center;
    .progress-container {
        align-self: end;
        width: 100%;

        progress {
            width: 100%;
        }
    }
}

